# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Context
mcp-context/
build/

# Package Lock & Release Notes
package-lock.json
RELEASE_NOTES.md

# Finder (MacOS) folder config
.DS_Store
